.combo-wrapper
{
    /*width: 140px;*/
}

.combo-menu {
    border-right: solid 1px #d4d4d4;
    border-left: solid 1px #d4d4d4;
    border-top: solid 1px #d4d4d4;
    background: #fff;
}

.combo-input
{
    border: solid 1px #d4d4d4 !important;
    height: 24px !important;
    float: left;
    margin: 0;
}

.combo-arrow
{
    width: 24px;
    height: 24px;
    display: inline-block;
    background: transparent url('images/icons.png') no-repeat 7px 7px;
    border: solid 1px #d4d4d4;
    float: left;
    border-left : 0;
}

.combo-menu li.row
{
    height: 2em;
    line-height: 2em;
    border-bottom: solid 1px #d4d4d4 ;
    text-align: center;
}